<div id="dashboardContent">
  <div id="col1">
    <h2>Discover People</h2>
    <div id="peopleContainer">
      <% for(var item in peopleToDiscover) { %>
        <% var person = peopleToDiscover[item] %>
        <div class="discoverPersonContainer">
          <a href="http://localhost:3000/profile/<%=person.UserId%>">
            <div class="discoverPersonAvatar">
              <img src="<%=person.Avatar%>" />
            </div>
            <div class="discoverPersonText">
              <div class="discoverPersonUsername"><%=person.Username%></div>
              <div class="discoverPersonLocation">
                <%=person.City%>,
                <%=person.StateProv%>
                <%=person.Country%>
              </div>
              <div class="discoverPersonBecauseYouBothLike">You both like <%=person.ArtistMatch%></div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
    <h2>Discover Artists</h2>
    <div id="artistsContainer">

    </div>
  </div>
  <div id="col2">
    <h2>Feed</h2>
    <div id="feedContainer">
      <% for(i=0; i<feed.length; i++) { %>
        <div class="recentlyPlayedTrack">
          <a href="<%=feed[i].track.external_urls.spotify%>">
            <div class="recentlyPlayedImageContainer">
              <img src="<%=feed[i].track.album.images[0].url%>" />
            </div>
            <div class="recentlyPlayedTextInfo">
              <div class="rPTrackName"><%=feed[i].track.name%></div>
              <div class="rPTrackArtist"><%=feed[i].track.artists[0].name%></div>
              <div class="rPTrackAlbum"><%=feed[i].track.album.name%></div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>