<h1><%= user.Username %></h1>
<h1><%= user.Email %></h1>
<h1><%= user.SpotifyToken %></h1>
<h1><%= user.SpotifyRefreshToken %></h1>
<h1><%= user.Username %></h1>
<h1><%= user.Username %></h1>
<h1><%= user.Username %></h1>
<h1><%= user.Username %></h1>
<h1><%= user.Username %></h1>