<div id="aboutInfo">
    <div id="profileAvatar">
        <% if (thisUser.Avatar != null) { %>
            <img src="<%= thisUser.Avatar %>" alt="User's profile image" />
        <% } else { %>
            <img src="../icons/user.png" alt="User's profile image is not set" />
        <% } %>
    </div>
    <div id="profileText">
        <div id="profileTopfold">
            <div id="nameAndLocation">
                <h1><%= thisUser.Username %></h1>
                <p>
                    <%= thisUser.City%>, 
                    <span> <%= thisUser.StateProv %> </span>
                    <span> <%= thisUser.Country %> </span>
                </p>
            </div>
            <div id="profileInteractBtn">
                <% if (thisUser.UserId === user.UserId) { %>
                    <a href="users/editProfile" class="timbreButton profileButton">Edit Profile</a>
                <% } else { %>
                    <% if (JSON.parse(user.Following).includes((thisUser.UserId).toString())) { %>
                        <a href="/profile/unfollow/<%=thisUser.UserId%>" class="timbreButton profileButton">- Unfollow</a>
                    <% } else { %>
                        <a href="/profile/follow/<%=thisUser.UserId%>" class="timbreButton profileButton">+ Follow</a>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div id="profileBio">
            <p> <%= thisUser.ProfileBlurb %> </p>
        </div>
        <div id="findMeOn">
            <% if (thisUser.SpotifyProfUrl != null) { %>
                <div id="profSpotifyLink" class="socialIconContainer">
                    <a href=" <%- thisUser.SpotifyProfUrl %>" target="_blank">
                        <img src="../icons/spotify.png" class="socialIcon">
                    </a>
                </div>
            <% } %>
            <% if (thisUser.FacebookProfUrl != null) { %>
                <div id="profFacebookLink" class="socialIconContainer">
                    <a href=" <%- thisUser.FacebookProfUrl %>" target="_blank">
                        <img src="../icons/facebook.png" class="socialIcon">
                    </a>
                </div>
            <% } %>
            <% if (thisUser.TwitterProfUrl != null) { %>
                <div id="profTwitterLink" class="socialIconContainer">
                    <a href=" <%- thisUser.TwitterProfUrl %>" target="_blank">
                        <img src="../icons/twitter.png" class="socialIcon">
                    </a>
                </div>
            <% } %>
            <% if (thisUser.InstaProfUrl != null) { %>
                <div id="profInstaLink" class="socialIconContainer">
                    <a href=" <%- thisUser.InstaProfUrl %>" target="_blank">
                        <img src="../icons/instagram.png" class="socialIcon">
                    </a>
                </div>
            <% } %>
            <% if (thisUser.InstaProfUrl != null) { %>
                <div id="profSoundcloudLink" class="socialIconContainer">
                    <a href=" <%- thisUser.SoundcloudProfUrl %>" target="_blank">
                        <img src="../icons/soundcloud.png" class="socialIcon">
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div>

<div id="profMusicContainer">
    <div id="top100Tab">
        <div id="top100ArtistsContainer">
            <% const top100Artists = topArtists.data.items %>
            <% for(let i=0; i<top100Artists.length; i++) { %>
                <div class="singleTop100ArtistContainer">
                    <a href="<%=top100Artists[i].external_urls.spotify%>" class="top100ArtistLink">
                        <img src="<%=top100Artists[i].images[0].url%>" />
                        <p> <%= top100Artists[i].name %> </p>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
    <div id="mutualInterestsTab">
        <div id="mutualInterestsContainer">
            
        </div>
    </div>
</div>
